<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <header>
        <%- include('./partials/header.ejs'); %>
    </header>
    <main>
        <div class="book">
            <%= book.NAME %>
            <%= book.AUTHOR %>
            <%= book.STATUS %>
        <%if (book.STATUS === "AVAILABLE"){ %>
            <a href=<%= "/book/" +book.ID + "/" + user.USERID %> > Request </a>
            <button onclick=<%= "location.href=" + "/book/" +book.ID + "/" + user.USERID %>>Request Book</button>
        <%} 
        else if (book.STATUS != "AVAILABLE" && book.USERID===user.USERID){%> //User ID has to be passed
            <button onclick="location.href='/book'">Return</button>
        <% } 
        else {%>
            <button disabled>Book Unavailable</button>
        <% } %>
        </div>
    </main>
    <footer>
        <%- include('./partials/footer.ejs'); %>
    </footer>
</body>
</html>