<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <header>
        <%- include('./partials/header.ejs'); %>
    </header>
    <form action="browse" method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="author" placeholder="Author">
        <input type="submit" value="search">
    </form>
    <div class="results">
        <% books.forEach(function(book) { %>
            <div class="result" href=<%= "book/" + book.BOOKID %>>
                <ul>
                    <li><%= book.NAME %></li>
                    <li><%= book.AUTHOR %></li>
                    <li><%= book.STATUS %></li>
                </ul>
                <a href=<%= "book/" + book.BOOKID %>>More Info</a>
            </div>
        <% }); %>
    </div>
    <footer>
        <%- include('./partials/footer.ejs'); %>
    </footer>
</body>
</html>